<h1>
    Welcome to symfony
    {{ title }}
</h1>

<div>
    Categories:
</div>
<div>
    {% for category in categories %}
        <li>
            {{ category.title }} - {{ category.desc }}
        </li>
    {% endfor %}
</div>